<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :serving_size %>
    <%= f.text_field :serving_size %>
  </p>

  <div id="recipe_ingredients_display"></div>
  <p>
    <%= label_tag :amount %>
    <%= text_field_tag :amount %>
  </p>
  <p>
    <%= label_tag :measurement_query %>
    <%= text_field_tag :measurement_query %>
  </p>
  <p>
    <%= label_tag :ingredient_query %>
    <%= text_field_tag :ingredient_query %>
  </p>
  <button type="button" id="add_ingredient_button">Add Ingredient</button>

  <p>
    <%= f.label :instructions %>
    <%= f.text_area :instructions %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </p>


  <%= f.submit %>

  <div id="secret_ingredients"></div>

<% end %>


<script type="text/underscore-template" id="recipe_ingredient_template">
  <div class="recipe_ingredient" data-recipe-ingredient-id="{{= id }}">
    <p>{{= amount }}</p>
    <p>{{= unit }}</p>
    <p>{{= ingredient }}</p>
    <div class="controls">
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
    </div>
  </div>
</script>

<!--


<input type="hidden" name="na_id" id="na_id" value="< %= @na.id %>">


    var na_id = $('#na_id').val();

 -->


