<h1>Show Single Recipes</h1>


<h2><%= @recipe.title %> </h2>
<% if @recipe.duration.present? %>
  <p>Duration: <%= @recipe.duration %></p>
<% end %>
<% if @recipe.serving_size.present? %>
  <p>Servings: <%= @recipe.serving_size %></p>
<% end %>
<div>
  <% if @recipe.image.present? %>
    <%= image_tag @recipe.image, :class => 'recipe' %>
  <% end %>
</div>
<p>Ingredients:
  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li>
        <div class="show_amount"><%= recipe_ingredient.amount %></div>
        <div class="show_measurement"><%= recipe_ingredient.measurement.unit %></div>
        <div class="show_ingredient"><%= recipe_ingredient.ingredient.name %></div>
      </li>
    <% end %>
  </ul>
</p>

<p class="recipe_textarea_display">Instructions: <%= @recipe.instructions %></p>

<% if @recipe.comment.present? %>
  <p class="recipe_textarea_display">Comments: <%= @recipe.comment %></p>
<% end %>



<%= link_to 'Edit Recipe', edit_recipe_path, :class => "general_submit_button" %>
<%= button_to 'Delete Recipe', recipe_path(@recipe.id), :method => 'delete', :class => "general_submit_button" %>
