<h1>Show Single Recipes</h1>


<h2><%= @recipe.title %> </h2>
<p>Duration: <%= @recipe.duration %></p>
<p>Servings: <%= @recipe.serving_size %></p>
<div><%= image_tag @recipe.image, :class => 'recipe' %></div>
<p>Ingredients:
  <ul>
    <!-- INCLUDE MEASUREMENTS HEEEEEEELP -->
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
</p>

<p><%= @recipe.instructions %></p>

<p>Comments: <%= @recipe.comment %></p>



<%= link_to 'Edit Recipe', edit_recipe_path %>
<%= button_to 'Delete Recipe', recipe_path(@recipe.id), :method => 'delete' %>
