
<%= render :partial => @theme %>

<%= link_to 'Download this Cookbook', custom_cookbook_template_path(@cookbook.id, @theme, :format => 'pdf'), :class => 'general_submit_button' %>

<%= form_tag "/cookbooks/#{@cookbook.id}/email", :method => 'post' do %>
  <div class='form-group'>

    <%= text_field_tag :email, nil, :placeholder => "example@email.com" %>
  </div>
  <button class="general_submit_button">
    <i class="fa fa-envelope"></i>
        Send Email
  </button>
<% end %>


<div class="fullscreen"></div>
  <div class='cookbook_pdf'>

  <h1><%= @cookbook.title %> </h2>

  <p>Description: <%= @cookbook.description %></p>


  <h1>Recipes</h2>
  <% @recipes.each do |recipe|%>
    <div class="break"></div>
    <div class='recipe_pdf'>

      <h2><%= recipe.title %> </h2>
        <p>Duration: <%= recipe.duration %></p>
        <p>Servings: <%= recipe.serving_size %></p>
        <% if recipe.image? %>
          <%= image_tag recipe.image, :class => 'recipe_picture' %>
        <% end %>

      <h2>Ingredients:</h2>
          <% recipe.recipe_ingredients.each do |ingredient| %>
            <p><%= ingredient.ingredient.name %></p>
          <% end %>

      </p>

      <p><%= recipe.instructions %></p>

      <h3>Comments:</h3> <p><%= recipe.comment %></p>
    </div>
  <% end %>

</div>

