<!--       < % if @cookbook.id.present? %>
        <h2>Edit Your Profile</h2>
      < % else %>
        <h2>Become a new cookbook</h2>
      < z% end %> -->

<!--      < % if @cookbook.errors.any? %>
        <ol>
          < % @cookbook.errors.full_messages.each do |msg| %>
            <li class="alert alert-warning">< %= msg %></li>
          < % end %>
        </ol>
      < % end %>
 -->
 <div class="row">
  <div class= "col-sm-2 col-md-2">
    <%= render :partial => 'pages/navbar' %>
  </div>
  <div class= "col-sm-10 col-md-10">
      <div class="new_cookbook_form">
        <h1>Cookbook</h1>
        <%= form_for @cookbook, :html => {:multipart => true} do |f| %>

          <div class='form-group'>
            <i class="fa fa-fire"></i>
            <%= f.label :title %>
            <%= f.text_field :title, :autofocus => true, :required => 'required' %>
          </div>
          <div class='form-group'>
            <i class="fa fa-pencil"></i>
            <%= f.label :description %>
            <%= f.text_area :description, :class => 'form_small_textarea' %>
          </div>

          <!-- <div class="cookbook_edit_img">< %= @cookbook.image? %></div> -->

          <div class='form-group'>
            <i class="fa fa-camera"></i>
            <%= f.label :image %>
            <%= f.file_field :image %>
          </div>
        <!--   <div class='form-group'>
            < %= f.label :remote_image_url, "Or Picture Url" %>
            < %= f.text_field :remote_image_url, :class => 'form-control' %>
          </div> -->
          <%= f.submit :class => "general_submit_button" %>
        </div>
      <% end %>
    </div>





